.Show {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ImgBlock {
    max-width: 30%;
}
.DescriptionBlock {
    max-width: 68%;
}
.DescriptionBlock h3 {
    margin: 0;
}